<div class="container">
	<div class="row">
    	<div class="box">
    		
    		<div class="page-header">
                      <h1>Carrinho</h1>
                    </div>
                    
	    		
                    <table class="table" BORDER="2" ALIGN="center" WIDTH="120%">
                      <tr style = "background: #4c3a3a;">
                        <th colspan = "3"></th>
                      </tr>
                       <tr>
                          <th style="text-align:center;"><h3>BOLO</h3></th>
                          <th style="text-align:center;"><h3>PRE&Ccedil;O (R$)</h3> </th>
                          <th style="text-align:center;"><h3></h3> </th>
                      </tr>
                      <!-- exemplo -->
                      <% if @carrinhos %>
    			<% @valor_total = 0 %>
                      <% @carrinhos.each do |f| %>
	    			<% @bolo = Bolo.find_by(id: f.bolos_id)%>
	    			<% @valor_total = @valor_total + @bolo.preco %>
                        <td class="indice"><%= @bolo.nome %></td>
                        <td class="indice"><%= @bolo.preco %></td>
                        <td class="indice">
                        	<%= button_to "Retirar do carrinho", {:action => "destroy",
	    									 :id => f},
    										 :method => :delete, data: { confirm: "Tem certeza que deseja retirar do carrinho?"} %>
                        </td>
                      <tr>
                      </tr>
                    
              <% end %>
    		<% else %>
    			<td class="indice">Carrinho vazio</td>
    		<% end %>
              
              </table>
              
              <h3>Total: <%= @valor_total %></h3>
              
              <br>
              <h3>Endereço a ser entregue:</h3>
              <p><%= current_user.logradouro %></p>
              <p>Número: <%= current_user.numero %></p>
              <p>Complemento: <%= current_user.complemento %></p>
              <p>Bairro: <%= current_user.bairro %></p>
              <p>Cidade: <%= current_user.cidade %></p>
              <p>Estado: <%= current_user.estado %></p>
              <p>CEP: <%= current_user.cep %></p>
              
              <%= button_to "Finalizar compra", 
              									{:controller => "venda",
    											:action => "create",
    											:valor_total => @valor_total,
    											:method => :post},
    											:class => "btn btn-danger pull-right" %>
              
              </div>
    		
        </div>
	</div>
</div>