<div class="container">
	<div class="row">
    	<div class="box">
    			<%= @bolo.nome %>
    			<%= @bolo.sabor %>
    			<%= @bolo.descricao %>
    			<%= @bolo.ingredientes %>
    			<%= @bolo.preco %>
    			
    			<%= submit_tag "Adicionar no carrinho" %>
        </div>
	</div>
</div>