<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
      
  	<%= favicon_link_tag 'index/cake.ico' %>
  	<title>Bolo do Moranda</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  
  	<!-- Fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="brand">Bolo do Moranda</div>
      <div class="address-bar">Rua Arlindo Béttio, 1000 | Ermelino Matarazzo, São Paulo - SP</div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if current_user %>
      <span class="login">Bem vindo, <%= current_user.nome %></span> | <%= link_to "Editar dados", edit_cliente_path(current_user), class:"login" %> | <%= link_to "Carrinho", carrinho_index_path(current_user), class:"register" %> | <%= link_to "Acompanhe seu pedido", venda_index_path(current_user), class:"register" %> | <%= link_to "Sair", '/logout', class:"register" %>
      <% else %>
      <%= link_to "Login", '/login', class:"login" %> | <%= link_to "Cadastre-se", new_cliente_path, class: "register" %>
      <% end %>
      <!-- Navigation -->
      <nav class="navbar navbar-default" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                  <a class="navbar-brand" href="index.html">Ateli&ecirc; dos Bolos</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul style="font-size:14.5px; padding-right: -1000px;" class="nav navbar-nav">
                      <li>
                          <%= link_to "Início", home_index_path %>
                      </li>
                      <li>
                          <%= link_to "Bolos", bolos_path %>
                      </li>                      
                       <li>
                          <%= link_to "Contato", contact_index_path %>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
      
<%= yield %>

</body>
</html>
